.portfolio-grid {
  max-width: 1000px;
  padding: 2rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.portfolio-grid-item {
  width: 30%;
  min-width: 200px;
  margin: 1rem 0;
  opacity: 1;
  transition: opacity 0.1s linear;
}

.portfolio-grid-item:hover {
  opacity: 0.3;
}
