.contact-page {
    text-align: center;
    max-width: 600px;
    margin: 4rem auto 0 auto;
}

.contact-header {
    font-size: 2rem;
    margin: 2rem;
}

.form-info {
    display: flex;
    flex-wrap: wrap;
}

.form-info label:first-of-type {
    margin: 0 1rem 0 0;

}

.form-info input {
    width: 100%;
    margin: 0 0 2rem 0;
    border: 1px solid #333;
    background: #eee;
}

.form-message textarea{
    resize: none;
    width: 100%;
    height: 10rem;
    max-height: 50%;
    border: 1px solid #333;
    background: #f1f1f1;

}

.form-label.upper {
    flex: 1;
    min-width: 250px;
}

.contact-form {
    padding: 1rem;
}

.contact-form label {
    text-align: left;
}

.form-message {
    text-align: left;
}

.form-button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    margin: 1rem auto;
}

.form-button::before {
    content: "[";
    font-size: 1.5rem;
    margin: 0 1rem;
    transition: font-size 2s;
    transition: margin .25s;
}

.form-button::after {
    content: "]";
    font-size: 1.5rem;
    margin: 0 1rem;
    transition: font-size 2s;
    transition: margin .25s;
}


.form-button:hover::after {
    margin: 0 .2rem;
}

.form-button:hover::before {
    margin: 0 .2rem;
}