.header {
    /* background: linear-gradient(to bottom, #ffb6c1 0%, #fff 5rem); */
    width: 100%;
    max-height: 33%;
    /* border-bottom: 2px lightgray solid; */
    text-align: center;
}

.header-signature {
    max-width: 100%;
    width: 500px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10rem auto -2rem auto;
    position: relative;
}
