.header.detailed{
    height: 5rem;
}

.header.detailed .header-signature {
    top: 0;
    margin: 0;
    max-height: 100%;
    max-width: max-content;
}

.header.detailed .link-group {
    max-height: 100%;
    margin: 0;
    font-size: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    left: 0;
    right: 0;
}

.header.detailed .link-button {
    flex: 0;
    min-width: 8rem;
    margin: 1rem;

}

.header.detailed .link-text {
    font-size: 1rem;
    max-width: fit-content;
    flex: 0;
    transition: font-size .1s;
}

.header.detailed .link-button:hover .link-text{
    font-size: 1.1rem;
    background: transparent;
}

.header.detailed .link-text::after {
    content: none;
}

.header.detailed .link-text::before {
    content: none;

}

.menu-button {
    display: none;
}

@media (max-width: 1000px) { 
    .header.detailed .link-button {
        display: none;
    }

    .header.detailed .header-signature {
        max-height: 100%;
        flex: 1;
    }

    .header.detailed {
        padding: 1rem;
        height: unset;
    }

    .header.detailed .link-group {
        justify-content: left;
        flex: 1;
    }

    .header.detailed .menu-button {
        display: block;
        height: 100%;
        font-size: 2rem;
        margin: 0 0 0 auto;
    }

    .header-signature {
        margin: 4rem 0 0 0 ;
    }

    div.portfolio-title {
        margin: 0;
    }

    div.about-page {
        margin: 0;
    }

    div.about-header {
        margin-top: 0;
    }
    
    div.contact-header {
        margin-top: 0;
    }

    div.contact-page {
        margin: 0;
    }

    .form-info .form-label.upper {
        margin: 0;
    }
 }
